.modal-card  {
    width: 60%;
    left: 20%;
    top: 30vh;
    overflow: hidden;
    z-index: 100;
    margin: auto;
    border: 1px solid purple;
    border-radius: 10px;
    text-align: center;
    position: fixed;

}

.modal-header {
    background-color: purple;
    color: white;
    padding: 6px;
}

.modal-body {
    color: purple;
    padding-top: 20px;
    background-color: white;
}

.modal-btn {
    color: white;
    background-color: purple;
    font-size: 12px;
    margin-bottom: 10px;
}